
body {

    background-color: #232323;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    font-size: larger;

}

.container{

    width: 910px;
    margin: 0 auto;

}

.profile {
    
    text-align: center;
    margin-bottom: 40px;

}


.Foto {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px #8c64c8;
    object-fit:cover;
}

h1{
    margin-bottom: 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 40px;
}



h2{
    margin-top: 0;
    margin-left: 5px;
    font-style: italic;
    color: rgb(197, 197, 197);
    font-weight: 100;
    letter-spacing: -1px;
}

p{
    margin-bottom: 8px;
    margin-top: 0px;
  

}

h3{
    margin-bottom: 10px;
    


}

h4 {
    margin-bottom: 5px;
    
}
h5 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-style: italic;
}

.redes { 
    width: 40px;
}

.contato {
    width: 40px;

}

.insta {
    margin: 0px 15px 0px 15px;

}

.teams{
    list-style: none;
    padding-left: 20px;

}

.footer { 
        background-color: #8c64c8;
        margin-top: 40px;
        text-align: center;
        padding: 10px 0;
}